[user]
	email = {{ .git_email }}
	name = {{ .git_name }}
	signingkey = {{ .git_signingkey_id }}
[commit]
	gpgsign = true
[tag]
	gpgsign = true

{{ if .is_work }}
[includeIf "gitdir/i:{{ joinPath (env "HOME") "Documents" .work_git_platform .work_git_repo_owner }}{{ "/" }}"]
    path = {{ joinPath (env "HOME") ".work.gitconfig" }}
[includeIf "worktree/i:{{ joinPath (env "HOME") "Documents" .work_git_platform .work_git_repo_owner }}{{ "/" }}"]
    path = {{ joinPath (env "HOME") ".work.gitconfig" }}
{{ end }}
